.posts-list {
  display: block;
  margin: 1em 3em 0em 3em;


    .button-go-to {
        background-color: #1899D6;
        color: #FFFFFF;

        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 0.4em;
        
        cursor: pointer;

        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 0.9em;
       
        padding: 1.2em;
        margin-top: 1em;
       
        transform: translateZ(0);
        transition: filter .2s;
      }
      
      .button-go-to:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 0.4em;

        content: "";
        
        position: absolute;
        bottom: -0.3em;        
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
      }
      
      .button-go-to:hover {
        filter: brightness(1.1);
      }
}

.input-field {
  display: flex;
  flex-flow: row-reverse;
}

.input {
  position: relative;
  
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(.5rem * 0.75) calc(.5rem * .5);
    margin: calc(.5rem * 0.75 + 3px) calc(.5rem * .5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: white;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(.5rem * 1.5) .5rem;
    color: currentColor;
    background: transparent;
    border-radius:.5rem;
    
    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color:  #1899D6;
      }
    }
  }
}